:root {
  /* Primary */

  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);

  /* Neutral */

  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.burger {
  display: none;
}
.burger-img {
}
.clm-list {
}
.clm-title {
}
.close {
  display: none;
}
.close-img {
}
.dif-test {
  /* grid-area: dif-test;
display: flex; */
  display: flex;
}
.different {
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: "different__title . . " "dif-test dif-test dif-test" "different__info"; */
}
.different__btn {
}
.different__info {
  /* grid-area: different-info; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.different__info--title {
}
.different__items {
}
.different__title {
  grid-area: different__title;
}
.facebook {
}
.first {
  grid-area: first;
}
.footer__box {
  display: flex;
  flex-direction: column;
}
.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__info-social {
  display: flex;
  align-items: center;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__menu-clm {
}
.header {
  padding-left: 10.5rem;
  padding-right: 10.5rem;
}
.homelink {
}
.humanizing {
  padding-left: 10.5rem;
  padding-right: 10.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "humanizing--info humanizing--img";
  /* background-color: var(--Dark-Violet); */
  /* justify-items: center; */
  background: linear-gradient(
    to bottom,
    var(--Dark-Violet),
    var(--Dark-Violet) 65%,
    var(--Very-Light-Gray) 35%
  );
  height: 59rem;
}

.humanizing::before {
  content: "";
  background-image: url(./images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.humanizing::after {
  content: "";
  background-image: url(./images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  /* background-size: contain; */
}

.humanizing--img {
  grid-area: humanizing--img;
  transform: translate(10px, 116px);
  width: 100%;
  max-width: 552px;
}
.humanizing--info {
  grid-area: humanizing--info;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.info-social {
}
.info__btn {
  background-color: var(--Very-Light-Gray) !important;
}
.info__excerpt {
  color: var(--Very-Light-Gray);
  line-height: 2;
  margin-bottom: 1.87rem;
  margin-top: 1.25rem;
}
.info__title {
  font-family: "DM Serif Display";
  font-size: 4.37rem;
  letter-spacing: 0.01em;
  color: var(--Very-Light-Gray);
  width: 15ch;
  line-height: 1;
}
.instagram {
}
.items--excerpt {
}
.items--img {
}
.items--title {
}
.list-item {
}
.logo {
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.18rem;
}
.nav--item {
  list-style: none;
}
.nav--main {
}
.nav--main__list {
  display: flex;
  gap: 1.62rem;
}
.nav__btn {
  width: 9.37rem;
  height: 2.5rem;
  background-color: var(--Dark-Violet);
}
.nav__link {
  text-decoration: none;
  font-size: 0.87rem;
  color: var(--Grayish-Blue);
  letter-spacing: 0.17em;
  text-transform: uppercase;
  font-weight: 700;
}

.nav__link:hover {
  color: var(--Dark-Violet);
}
.nav__link-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Very-Light-Gray);
  border: none;
}

.nav__link-btn-hum {
  color: var(--Dark-Violet);
}

.pinterest {
}
.prices {
  grid-area: prices;
}
.process {
  grid-area: process;
}
.test {
}
.twitter {
}
